
  
  .colmd4 {
    width: 30%;
    height: 30%;
    margin-bottom: 10px;
  }
  
  .card {
    background-color: rgb(226, 216, 216);
    padding: 30px;
    border: solid 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  .card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
  }
  .cardtitle {
    margin-top: 20px;
  }
  .cardtext {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
  .cardtext .fa {
    font-size: 26px;
  }
  .avatar {
    width: 100%;
    height: 100%;
    
    
  }
  .avatar img {
    width: 50%;
    height: 50%;
    border: solid 6px transparent;
    border-radius: 5%;
  }
  .card:hover .avatar img {
    border-color: rgb(99, 204, 131);
  }
 


  .colmd5 {
    width: 50%;
    height: 200%;
    
  }
  .avatar1 img {
    width: 100px;
    height: 70px;
    border: solid 6px transparent;
    border-radius: 5%;
  }


  .card1 {
    width: 1500px;
    background-color: rgb(226, 216, 216);
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    
  }

  table, th, td {
    border:1px solid black;
  }